.Header{
    background-image: url('https://power-x-gym-a1s2.web.app/static/media/edgar-chaparro-sHfo3WOgGTU-unsplash3.de7e59c3.jpg');
    background-size: cover;
}
.X-style{
    color: rgb(255, 230, 0);
    font-weight: 500;
}